# Java
*.class
*.jar
*.war
*.ear

# Build
/build/
/bin/

# IDEs
/.idea/
*.iml
*.ipr
*.iws
/.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test outputs
/test/interpreter/temp_extract/
/test/interpreter/rpal.zip
/test/interpreter/cygwin1.dll
